params {
  containers = {
    python = 'didrikolofsson/python-base:latest'
    fastp = 'biocontainers/fastp:v0.20.1_cv1'
    star = 'quay.io/biocontainers/star:2.7.9a--h9ee0642_0'
    samtools = 'quay.io/biocontainers/samtools:1.16.1--h6899075_1'
    rmats = 'quay.io/biocontainers/rmats:4.1.2--py39hcd3989c_4'
    whippet = 'didrikolofsson/whippet:latest'
  }
}