profiles {
  test {
    params {
      dev = false
      samplesheet = "${projectDir}/data/samplesheet_paired.csv"
      genome = "${projectDir}/data/genome/genome.fa"
      annotation = "${projectDir}/data/genome/annotation.gtf"
      outputdir = "output"
      read_length = 100
      libtype = "paired"
    }
  }
  slurm {
    process {
      executor = "slurm"
      cpus = 1
      memory = "2 GB"
      time = "30m"
    }
  }
}