profiles {
  test {
    params {
      dev = false
      samplesheet = "${projectDir}/data/samplesheet_paired.csv"
      genome = "${projectDir}/data/genome/genome.fa"
      annotation = "${projectDir}/data/genome/annotation.gtf"
      outputdir = "output"
      read_length = 100
      libtype = "paired"
    }
  }
  slurm {
    process {
      executor = "slurm"
      clusterOptions = "--qos=standard"
      withLabel: sm {
        cpus = 4
        memory = "8 GB"
        time = "1h"
      }
      withLabel: md {
        cpus = 8
        memory = "16 GB"
        time = "2h"
      }
      withLabel: lg {
        cpus = 16
        memory = "48 GB"
        time = "2h"
      }
    }
  }
  singularity {
    singularity {
      enabled = true
    }
  }
}